// 字体颜色
@font-color: #555555;

// 通用颜色
@white: #ffffff;
@black: #333333;
@red: #d73a49;
@orange: #FA9B02;
@deepOrage: #7d5c20;
@grayC: #cccccc;
@main: #0f88eb;
@border: #eeeeee;
@background: #f7f7f7;

// z-index
@zIndexLevel4: 1000;
@zIndexLevel3: 100;
@zIndexLevel2: 10;
@zIndexLevel1: 1;
@zIndexLevel0: -10;

// blue色板
@blue-1: #ecf6fd;
@blue-2: #d2eafb;
@blue-3: #add8f7;
@blue-4: #7ec2f3;
@blue-5: #49a9ee;
@blue-6: #108ee9;
@blue-7: #0e77ca;
@blue-8: #0c60aa;
@blue-9: #09488a;
@blue-10: #073069;