.lesson-list-container {
  
  .lesson-card {
    margin-top: 30px;
    
    &:first-child, &:nth-child(2), &:nth-child(3) {
      margin-top: 0;
    }

    .ant-card-body {
      color: rgba(0, 0, 0, 0.65);
    }
  }
}