doctype html
html
  head
    title= title
    link(href='/style.css' type='text/css' rel='stylesheet')
    link(href='static/images/favicon.ico' type='image/x-icon' rel='icon')
    script(type='text/javascript') window.INITIAL_STATE = !{preloadState}

  body
    block content
