.component-header {
  background: #efefef;
  border-bottom: 1px solid #dddddd;

  .nav-list {

    .nav-item {
      display: inline-block;
      padding: 0 15px;
      height: 60px;
      line-height: 60px;

      .item-btn {
        font-size: 16px;
        text-decoration: none;
        color: @font-color;

        &:hover, &.active {
          color: #6E6EEC;
        }
      }
    }
  }
}